body {
  margin: 0;
  box-sizing: border-box;
  background-color: #252530;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
}

.global-padding {
  padding: 0 55px;
}

.global-flex {
  display: flex;
  flex-wrap: wrap;
}

.global-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.global-wrap {
  max-width: 1230px;
  margin: 0 auto;
}

.global-image img {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.global-label {
  font-size: 8px;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 23px;
  left: 29px;
  display: inline-block;
  margin: 0;
  padding: 5px 7px 5px 9px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ebebeb;
  border-radius: 25px;
  background-color: rgb(51, 49, 59);
}

.global-font {
  font-family: "Corben", serif;
  font-weight: 700;
  color: #ebebeb;
}

.global-item-background {
  background-color: transparent;
}

.global-buttons {
  font-weight: 800;
  position: relative;
  z-index: 2;
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-bottom: 25px;
}

.global-animate {
  transition: transform 0.65s ease-in-out;
  transform: translateY(120px);
}

a {
  text-decoration: none;
  background-color: transparent;
}

/*Header Started */
.header-section {
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 70px;
}

.header-wrap {
  padding-left: 13px;
  padding-right: 13px;
}

.header-logo, .header-nav {
  align-self: center;
}

.header-logo {
  flex: 0 0 25%;
  align-self: center;
}

.header-logo .logo {
  line-height: 0;
  margin: 0;
}

.header-logo img {
  max-width: 100%;
  min-height: 35px;
  max-height: 35px;
}

.header-nav {
  position: relative;
  z-index: 3;
  flex: 0 0 75%;
  justify-content: flex-end;
  text-align: right;
}

.header-nav nav {
  font-size: 15px;
  font-weight: 800;
  padding: 0;
  width: 100%;
}

.header-nav ul {
  min-width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.header-nav a {
  line-height: 1.4;
  position: relative;
  margin: 0 7px;
  padding: 2px;
  text-decoration: none;
  background-color: transparent;
  color: #ebebeb;
}

.header-nav a::before {
  position: absolute;
  top: 1px;
  right: -6px;
  width: 6px;
  height: 6px;
  content: "";
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: background-color, opacity;
  border-radius: 7px;
}

.header-nav a:hover::before, .header-nav a.is-active::before, .header-nav a.is-active:hover::before {
  background-color: #FFB469;
}

.header-nav ul, .header-nav li, .header-nav a {
  display: inline-block;
}

.header-logo, .header-nav {
  align-self: center;
}

.search-open svg {
  width: 17px;
  height: 17px;
  list-style: none;
  margin: 0 0 -3px 5px;
}

.global-svg {
  transition: fill 0.2s ease;
  fill: #EBEBEB;
}

.search-open {
  cursor: pointer;
}

/* header ended */
/*main started */
.pinned-section {
  flex-direction: column-reverse;
}

.pinned-wrap {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.pinned-item {
  position: relative;
  z-index: 0;
  overflow: hidden;
  flex: 1 0 305px;
  min-height: 200px;
  margin: 8px;
  padding: 70px 30px 25px;
  transition: transform 0.2s ease;
  border-radius: 20px;
}

.pinned-item-1, .pinned-item-5 {
  flex-basis: 40%;
}

.pinned-items {
  flex: 1 0 50%;
}

.pinned-content {
  align-self: flex-end;
}

.pinned-author-name a {
  color: #EBEBEB;
}

.pinned-wrap, .pinned-item {
  box-sizing: border-box;
}

.pinned-title {
  line-height: 1.4;
  display: inline-block;
  margin: 0 20px 2px 0;
}

.pinned-item-1:hover, .pinned-item-2:hover, .pinned-item-3:hover, .pinned-item-4:hover, .pinned-item-5:hover {
  top: -5px;
  cursor: pointer;
}

.pinned-item-1 {
  flex-grow: 0;
  background-color: transparent;
}

.pinned-image-1-color::before {
  background-color: #AAA7A2;
  content: "";
  opacity: 0.25;
}

.pinned-image-2-color::before {
  background-color: #3F44ED;
  content: "";
  opacity: 0.8;
}

.pinned-image-3-color::before {
  background-color: #FFB469;
  content: "";
}

.pinned-image-4-color::before {
  background-color: #88299C;
  content: "";
  opacity: 0.8;
}

.pinned-image-5-color::before {
  background-color: #F39ECD;
  content: "";
  opacity: 0.8;
}

.pinned-image::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.article-wrap {
  position: relative;
  z-index: 0;
  overflow: hidden;
  flex: 0 0 calc(100% - 26px);
  min-width: 200px;
  min-height: 400px;
  margin: 15px auto 30px;
  padding: 18vh;
  border-radius: 15px;
  background-color: #333350;
  box-sizing: border-box;
  transform: translateY(0);
}

.article-wrap:hover .article-1-content-img img {
  transition: transform 0.35s ease-in-out;
  transform: scale(1.02);
}

.article-content-wrap {
  width: 100%;
}

.article-1-content h2 {
  font-family: "Corben", cursive;
  font-weight: 700;
  font-size: 3em;
}

.article-1-content a {
  color: #EBEBEB;
  background-color: transparent;
}

.article-1-content-img::before, .article-1-content__overlay::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.25;
}

.article-1-content-img::before {
  content: "";
  background-color: #010101;
}

.content-title svg {
  position: absolute;
  overflow: visible;
  width: 35px;
  margin: 16px 0 0 2px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: margin-left, fill;
  transform: scale(1 0% 0%);
}

.global-svg {
  transition: fill 0.2s ease;
  color: #b61d1d;
}

/*article section completed*/
/* subscribe section */
.subscribe-section {
  position: relative;
  margin: 8vh auto -10vh;
  padding: 0;
}

.subscribe-wrap {
  margin: 0 auto;
  text-align: center;
}

.subscribe-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 70px 50px;
}

.subscribe-title {
  font-size: 40px;
  line-height: 1.45;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  color: #EBEBEB;
  font-weight: 700;
  font-family: "Corben", cursive;
}

.subscribe-typing {
  font-size: 20px;
  max-width: 450px;
  margin: 0 auto 40px;
  width: fit-content;
}

.subscribe-typing p {
  overflow: hidden;
  color: #EBEBEB;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(7), blink-caret 0.6s infinite;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 70%;
  }
  48% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  55% {
    width: 100%;
  }
  75% {
    width: 70%;
  }
  85% {
    width: 30%;
  }
  100% {
    width: 0;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #EBEBEB;
  }
}
.subscribe-content__email-input {
  font-size: 18px;
  width: 65%;
  height: 30px;
  margin: 20px auto 30px;
  padding: 6px 9px;
  text-align: center;
  word-break: normal;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  display: block;
  transition: width 0.5s ease 0.2s;
  color: #EBEBEB;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid;
  border-left: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
}

.subscribe-btn:hover {
  padding-right: 40px;
  padding-left: 40px;
  color: #333350;
  background-color: #FFB469;
}

.subscribe-btn {
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  margin: 5px 0 0 0;
  padding: 30px 35px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transition-property: background-color, padding-left, padding-right, color, width;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EBEBEB;
  border: 0;
  border-radius: 16px;
  background-color: #333350;
  text-align: center;
}

.subscribe-section-side-text {
  font-size: 13px;
  font-weight: 900;
  line-height: 1.4;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  max-width: 90vh;
  height: 115px;
  margin: auto;
  cursor: default;
  transform: rotate(-90deg) translate(-50%, 32px);
  transform-origin: 0 50%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #EBEBEB;
}

/* main section ended */
/*footer-started */
.footer-section {
  padding-top: 15vh;
}

.footer-wrap {
  max-width: 1230px;
  align-items: center;
  margin: 8vh auto 0;
}

.footer-nav {
  flex: 0 0 60%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav ul li {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.footer-nav a {
  color: #EBEBEB;
  position: relative;
  line-height: 1.1;
}

.footer-nav a::before {
  position: absolute;
  top: -1px;
  right: -6px;
  width: 5px;
  height: 5px;
  content: "";
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: background-color, opacity;
  border-radius: 7px;
  background-color: transparent;
}

.footer-nav a:hover::before, .footer-nav a.is-active::before, .footer-nav a.is-active:hover::before {
  background-color: #FFB469;
}

.footer-icons {
  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
}

.footer-icons a {
  line-height: 1;
  margin: 0 0 0 30px;
  padding: 2px 0;
}

.footer-icons svg {
  width: 19px;
  height: 19px;
}

.footer-svg {
  transition: fill 0.2s ease;
  fill: #EBEBEB;
}

.footer-nav, .footer-icons {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
